.why-to-use-main {
    text-align: center;

    &__desc {
        max-width: rem(936);
        margin: 0 auto;
        font-size: rem(24);
        line-height: rem(42);
    }

    &__inner {
        padding-top: rem(78);

        @include media-breakpoint-up(sm) {
            background: url(../images/dotted-border.png);
            background-repeat: no-repeat;
            background-position: rem(-36) rem(34);
        }
    }

    &__item {
        margin-bottom: rem(34);

        @include media-breakpoint-up(lg) {
            margin-bottom: rem(68);
        }
    }

    &__heading {
        max-width: rem(253);
        margin: 0 auto;
    }

    &__image {
        margin-bottom: rem(48);
    }
}